*{
  font-family: var(--font-family);
}

p {
  font-size: 0.8rem;
  color: var(--grey-25);
  word-wrap: break-word;
  margin-top: 1rem;
}

mat-expansion-panel {
 width: 80vw;
  padding: 1rem;
  border-bottom: 0.5px solid var(--stroke);
}

::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
}

mat-panel-title{
    color: var(--button-primary-color);
}