/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  --primary-color: #354156;
  --font-family: "Rethink Sans", sans-serif;
  --white: #fff;
  --dull-white:#939EB1;
  --light-white: #F4F4F4;
  --orange-light: #f7a984;
  --orange-bright: #eb5a28;

  --gry-100: #323232;
  --button-primary-color: #354156;
  --grey-50: #6e6e6e;
  --border-white: #f0f0f0;
  --stroke: #e7e7e7;
  --green-highlight-color: #4fa765;
  --grey-25: #6d798e;
  --font-family: "Rethink Sans", sans-serif;
  --border-grey: #d1d1d6;
  --yellow-text: #fecb00;

  --orange-gradient-bright: #ff9500;
  --orange-gradient-light: #ffe1b6;

}

html,
body {
  height: 100%;
  /* padding: 0.5vh 1vw; */
}

body {
  margin: 0;
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

a {
  cursor: pointer;
}
