<div class="template-navs" [ngStyle]="{ 'margin-top': marginTop }">
  <ul>
    @for(tempNavs of templateNavs; track tempNavs){
    <li (click)="changeTemplateNav(tempNavs.name)">
      <svg
        width="21"
        height="18"
        viewBox="0 0 21 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          [attr.d]="tempNavs.svgPath"
          [attr.fill]="
            activeNavLocal.toUpperCase() === (tempNavs.name).toUpperCase()
              ? '#eb5a28'
              : theme == 'dark'
              ? '#fff'
              : '#354156'
          "
        />
      </svg>
      <p
        [ngClass]="
          activeNavLocal.toUpperCase() === (tempNavs.name).toUpperCase()
            ? 'highlight-text'
            : theme == 'dark'
            ? 'nav-name-dark'
            : 'nav-name-light'
        "
      >
        {{ tempNavs.name | uppercase }}
      </p>
      <div class="border-bottom-hover"></div>
    </li>
    }
  </ul>
</div>
