<div class="payment-flow-container">
  <div class="purchase-sumary">
    <a
      class="app-name-logo"
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <img src="assets/AppLogo.svg" alt="app-logo" id="app-logo" />
      <img
        src="assets/templifyProDarkTheme.svg"
        alt="app-name"
        id="app-name"
      />
    </a>
  </div>
  <div class="payment-section">
    <app-button
      btnText="Pay Via"
      type="fill"
      icon="assets/razorpay_logo.svg"
      (click)="initPay()"

    />
  </div>
</div>
